<div layout="row" layout-align="center" class="inputFormContainer" ng-controller="transactionsCtrl">
    <div flex="50">
        <form name="addTransactionForm">
            <div layout="row" layout-align="center center" layout-margin layout-wrap><span class="md-display-1">New Transaction</span></div>
            <md-input-container>
                <label for="date">Date</label>
                <input type="date" name="Date" id="date" ng-model="newDate">
            </md-input-container>
            <md-input-container>
                <label for="amount">Amount</label>
                <input type="number" name="Amount" id="amount" ng-model="newAmount" min="0.01" step="0.01">
            </md-input-container>
            <md-input-container>
                <label for="category">Category</label>
                <input type="text" name="Category" id="category" ng-model="newCategory">
            </md-input-container>
            <md-input-container>
                <label for="expense">Expense</label>
                <input type="checkbox" name="Expense" id="expense" ng-model="newExpense">
            </md-input-container>
            <md-input-container>
                <md-button  id="createTransaction" class="md-primary" ng-click="addTransaction()" go-click="/transactions">Add Transaction</md-button>
            </md-input-container>
        </form>
    </div>
</div>