<!--todo: mirgate to material design-->
<div class="inputFormContainer" ng-controller="transactionsCtrl" ng-init="init()">
    <fieldset title="New Transaction">
        <h1>New Transaction</h1>
        <div>
            <input  class="formItem"
                    id="entryDate"
                    type="date"
                    ng-model="transaction.date"
                    ng-change="format()">
            <span   class="formItem nameAttr">Date:</span>
            <span   class="formItem">{{formatDate}}</span>
        </div>
        <div>
            <input  class="formItem"
                    id="cashAmount"
                    type="number"
                    step="0.01"
                    ng-model="transaction.amount"
                    ng-change="format()">
            <span   class="formItem nameAttr">Cash Amount:</span>
            <span   class="formItem">{{formatCash}}</span>
        </div>
        <div>
            <input  class="formItem"
                    id="category"
                    type="text"
                    ng-model="transaction.category">
            <span   class="formItem nameAttr">Category:</span>
            <span   class="formItem">{{transaction.category}}</span>
        </div>
        <div>
        <span class="formItem">
            <label>
                Expense?
                <input  id="isExpense"
                        name="isExpense"
                        type="checkbox"
                        ng-model="transaction.expense"
                        ng-change="format()">
            </label>
        </span>
            <span       class="formItem nameAttr">Expense:</span>
            <span       class="formItem">{{formatExpense}}</span>
        </div>
        <div>
            <input  id="createTransaction"
                    type="button"
                    ng-click="[newTransaction(transaction),getTransactions()]"
                    value="Add">
        </div>
    </fieldset>
</div>