<div class="inputFormContainer" ng-controller="transactionsCtrl" ng-init="[init(),formatData()]">
    <fieldset title="New Transaction">
        <h1>New Entry</h1>
        <div>
            <input  class="formItem"
                    id="entryDate"
                    type="date"
                    ng-model="transaction.entryDate"
                    ng-change="formatData()">
            <span   class="formItem nameAttr">Date:</span>
            <span   class="formItem">{{format.formattedDate}}</span>
        </div>
        <div>
            <input  class="formItem"
                    id="cashAmount"
                    type="number"
                    step="0.01"
                    ng-model="transaction.cashAmount"
                    ng-change="formatData()">
            <span   class="formItem nameAttr">Cash Amount:</span>
            <span   class="formItem">{{format.formattedCashAmount}}</span>
        </div>
        <div>
            <input  class="formItem"
                    id="category"
                    type="text"
                    ng-model="transaction.category">
            <span   class="formItem nameAttr">Category:</span>
            <span   class="formItem">{{transaction.category}}</span>
        </div>
        <div>
        <span class="formItem">
            <label>
                Expense?
                <input  id="isExpense"
                        name="isExpense"
                        type="checkbox"
                        ng-model="transaction.isExpense"
                        ng-change="formatData()">
            </label>
        </span>
            <span       class="formItem nameAttr">Expense:</span>
            <span       class="formItem">{{format.formattedIsExpense}}</span>
        </div>
        <div>
            <input  id="createTransaction"
                    type="button"
                    ng-click="[addTransaction(),alert('Transaction added.'),init()]"
                    value="Add">
        </div>
    </fieldset>
</div>